.dijitSelect .dijitArrowButton 
{
    background-color: #fafafc;
    border-color: #fafafc;
}

.jimu-widget-GRGDrafter .dijitSelect .dijitButtonContents
{
    background-color: transparent;
    border-color: #fafafc;
}

.jimu-widget-GRGDrafter  .dijitSelectDisabled,
.jimu-widget-GRGDrafter .dijitTextBoxDisabled,
.jimu-widget-GRGDrafter .dijitTextBoxDisabled .dijitInputContainer ,
.jimu-widget-GRGDrafter .dijitTextBoxDisabled {
     background-color: #4c4c4c; 
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipContainer {
    background-color: #4c4c4c;
    background-image: -webkit-linear-gradient(bottom, rgb(76, 76, 76) 0px, #4c4c4c 10px);
    border: 1px solid #ffffff;
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .jimu-widget-subtitle {
    color: #ffffff;
}

.claro .dartThemeClaroDijitTooltipContainerOverride .dijitTooltipConnector {    
    background-image: url(images/tooltip.png);    
}